Documentation/docs/.obsidian/app.json
Documentation/docs/.obsidian/appearance.json
Documentation/docs/.obsidian/core-plugins.json
Documentation/docs/.obsidian/graph.json
Documentation/docs/.obsidian/workspace.json

